table {
    border: 2px solid black;
}

tr {
    border-bottom: 1px solid black;
    cursor: default;
}

td {
    text-align: center;
    white-space: nowrap;
}

tbody td {
    border-right: 1px solid black;
}

td:last-child {
    border-right: none;
}

tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}